/* // @font-face {
// 	font-family: 'Conv_quicksandregular';
// 	src: url('../fonts/quicksandregular.eot');
// 	src: local('☺'), url('../fonts/quicksandregular.woff') format('woff'), url('../fonts/quicksandregular.ttf') format('truetype'), url('fonts/quicksandregular.svg') format('svg');
// 	font-weight: normal;
// 	font-style: normal;
// }
// @font-face {
// 	font-family: 'Conv_quicksandbold';
// 	src: url('../fonts/quicksandbold.eot');
// 	src: local('☺'), url('../fonts/quicksandbold.woff') format('woff'), url('../fonts/quicksandbold.ttf') format('truetype'), url('fonts/quicksandbold.svg') format('svg');
// 	font-weight: normal;
// 	font-style: normal;
// }
// @font-face {
// 	font-family: 'Conv_montserratbold';
// 	src: url('../fonts/montserratbold.eot');
// 	src: local('☺'), url('../fonts/montserratbold.woff') format('woff'), url('../fonts/montserratbold.ttf') format('truetype'), url('fonts/montserratbold.svg') format('svg');
// 	font-weight: normal;
// 	font-style: normal;
// }
// @font-face {
// 	font-family: 'Conv_montserrat';
// 	src: url('../fonts/montserrat.eot');
// 	src: local('☺'), url('../fonts/montserrat.woff') format('woff'), url('../fonts/montserrat.ttf') format('truetype'), url('fonts/montserrat.svg') format('svg');
// 	font-weight: normal;
// 	font-style: normal;
// } */




@font-face {
	font-family: 'Conv_montserrat';
	src: url('../fonts/montserrat.eot');
	src: local('☺'), url('../fonts/montserrat.woff') format('woff'), url('../fonts/montserrat.ttf') format('truetype'), url('../fonts/montserrat.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_montserratbold';
	src: url('../fonts/montserratbold.eot');
	src: local('☺'), url('../fonts/montserratbold.woff') format('woff'), url('../fonts/montserratbold.ttf') format('truetype'), url('../fonts/montserratbold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_quicksandbold';
	src: url('../fonts/quicksandbold.eot');
	src: local('☺'), url('../fonts/quicksandbold.woff') format('woff'), url('../fonts/quicksandbold.ttf') format('truetype'), url('../fonts/quicksandbold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_quicksandregular';
	src: url('../fonts/quicksandregular.eot');
	src: local('☺'), url('../fonts/quicksandregular.woff') format('woff'), url('../fonts/quicksandregular.ttf') format('truetype'), url('../fonts/quicksandregular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
/* icon */

@font-face {
	font-family: 'icomoon';
	src:  url('../fonts/icomoon.eot?uwop8o');
	src:  url('../fonts/icomoon.eot?uwop8o#iefix') format('embedded-opentype'),
	  url('../fonts/icomoon.ttf?uwop8o') format('truetype'),
	  url('../fonts/icomoon.woff?uwop8o') format('woff'),
	  url('../fonts/icomoon.svg?uwop8o#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: never;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
  
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  }
  
  .icon-keyboard_arrow_down-24px:before {
	content: "\e900";
  }
  