* {box-sizing: border-box;}
ul {list-style-type: none;}
.calendar-none {
  font-family: Verdana, sans-serif;
  width:250px;
display: none;
}
.calendar {
 display: block;
  
}
.month {
  padding: 7px 15px;
  width: 100%;
  background: #1abc9c;
  text-align: center;
  
}

.month ul {
  justify-content: space-between;
  margin: 0;
  padding: 0;
  display: flex;
  height: 20px;
}

.month ul li {
  color: white;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 3px;
  display: flex;
}

.month .prev {
  float: left;
  cursor: pointer;
}

.month .next {
  float: right;
  cursor: pointer;
}

.weekdays {
  margin: 0;
  padding: 10px 0 10px 10px;
  background-color: #ddd;
}

.weekdays li {
  display: inline-block;
  width: 11%;
  color: #666;
  text-align: center;
  font-size: 12px;
  font-weight: 700;
}

.days {
  padding: 10px 0;
  background: #eee;
  margin: 0;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  margin-bottom: 5px;
  font-size:12px;
  color: #777;
  cursor: pointer;
}

.days li .active {
  padding: 5px;
  background: #1abc9c;
  color: white !important
}

/* Добавление запросов мультимедиа для небольших экранов */
@media screen and (max-width:720px) {
  .weekdays li, .days li {width: 13.1%;}
}

@media screen and (max-width: 420px) {
  .weekdays li, .days li {width: 12.5%;}
  .days li .active {padding: 2px;}
}

@media screen and (max-width: 290px) {
  .weekdays li, .days li {width: 12.2%;}
}