//- h1 Star Rating
//- form
//-     fieldset
//-         span.star-cb-group
//-         input(type="radio" id="rating-5" name="rating" value="5")
//-         label(for="rating-5")
//-           | 5
//-         input(type="radio" id="rating-4" name="rating" value="4" checked="checked")
//-         label(for="rating-4")
//-           | 4
//-         input(type="radio" id="rating-3" name="rating" value="3")
//-         label(for="rating-3")
//-           | 3
//-         input(type="radio" id="rating-2" name="rating" value="2")
//-         label(for="rating-2")
//-           | 2
//-         input(type="radio" id="rating-1" name="rating" value="1")
//-         label(for="rating-1")
//-               | 1
//-         input.star-cb-clear(type="radio" id="rating-0" name="rating" value="0")
//-         label(for="rating-0")
//-           | 0

h1 Star Rating
    .rating-area
        input(type="radio" id="star-5" name="rating" value="5")
        label(for="star-5")
        input(type="radio" id="star-4" name="rating" value="4")
        label(for="star-4")
        input(type="radio" id="star-3" name="rating" value="3")
        label(for="star-3")
        input(type="radio" id="star-2" name="rating" value="2")
        label(for="star-2")
        input(type="radio" id="star-1" name="rating" value="1")
        label(for="star-1")
    
