.description-name
    .description-name__item
        p.description-name__title-one H1
        p.description-name__description-one.description-name__description
            | This one is the sub-section or
            span.description-name__description-one.description-name__description
                | widget title
    .description-name__item
        .description-name__title-two H2
        .description-name__description-two.description-name__description
            | Next one is the item title inside
            | widgets
    .description-name__item
        .description-name__title-three H3
        .description-name__description-three
            | THIS IS A LABEL OR CTA TEXT
    .description-name__item
        .description-name__title-four Body
        .description-name__description-four.description-name__description
            | This is the body text which is used for most
            span.description-name__description
                | of the design, like paragraphs, lists, etc.

