extends ../layouts/layout.pug
block content
    include ../blocks/color-text/color-text.pug
    include ../components/RangeSlider/RangeSlider.pug
    include ../components/rate_button/rate_button.pug
    include ../components/input/input.pug
    include ../components/calendar/calendar.pug
block script
        