.coloros__content
    .coloros__box
        .coloros__rectangle-one.coloros__rectangle
        .coloros__description-one.coloros__description
            .colors__text-box
                p.colors__text-one.colors__text Dark Shade 100%
            .colors__designation-box-one
                p.colors__designation-one.colors__designation #1F2041
    .coloros__box
        .coloros__rectangle-two.coloros__rectangle
        .coloros__description-two.coloros__description
            .colors__text-box
                p.colors__text-one.colors__text Dark Shade 75%
            .colors__designation-box-two
                p.colors__designation-one.colors__designation #1F2041
    .coloros__box
        .coloros__rectangle-three.coloros__rectangle
        .coloros__description-three.coloros__description
            .colors__text-box
                p.colors__text-one.colors__text Dark Shade 50%
            .colors__designation-box-three
                p.colors__designation-one.colors__designation #1F2041
    .coloros__box
        .coloros__rectangle-four.coloros__rectangle
        .coloros__description-four.coloros__description
            .colors__text-box
                p.colors__text-one.colors__text Dark Shade 25%
            .colors__designation-box-four
                p.colors__designation-one.colors__designation #1F2041
    .coloros__box
        .coloros__rectangle-five.coloros__rectangle
        .coloros__description-five.coloros__description
            .colors__text-box
                p.colors__text-one.colors__text Dark Shade 5%
            .colors__designation-box-five
                p.colors__designation-one.colors__designation #1F2041
    .coloros__box
        .coloros__rectangle-six.coloros__rectangle
        .coloros__description-six.coloros__description
            .colors__text-box
                p.colors__text-one.colors__text Purple
            .colors__designation-box-six
                p.colors__designation-one.colors__designation #BC9CFF
    .coloros__box
        .coloros__rectangle-seven.coloros__rectangle
        .coloros__description-seven.coloros__description
            .colors__text-box
                p.colors__text-one.colors__text Green
            .colors__designation-box-seven
                p.colors__designation-one.colors__designation #6FCF97