.color-text
    include ../../components/login/login.pug
    .color-text__content
        include ../../components/colors/colors.pug
        include ../../components/descriptionName/descriptionName.pug