.date {
    width: 150px;
height: 44px;
border: 1px solid rgba(31, 32, 65, 0.25);
box-sizing: border-box;
border-radius: 4px;
padding: 10px;
}
// .arrow-down:after {
//     content: '>';
//     color:rgba(31, 32, 65, 0.25);
//     transform: rotate(88deg);
// }

.icon-keyboard_arrow_down-24px {
    color: rgba(31, 32, 65, 0.25);
    cursor: pointer;
    font-size: 25px;
    position: absolute;
    left: 417px;
    top: 749px;
}