doctype html
html(lang='en')
    head
        
        meta(charset='utf-8')
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="icon" href="../image/Group.png" type="image/png")
        link(rel="stylesheet" type="text/css" href="../css/style.css")
        title
            block title

        meta(name="description", content=description)
        block head

    body(class='pageClass')
        block header
        block content
        block footer
        block script



        block script